.home {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header {
  display: flex;
  margin-left: 110px;
}

.header li {
  font-size: 1rem;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 36px;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
}

.header li a {
  text-decoration: none;
  color: #ebe0da;
}

.header li a:hover {
  color: #fff;
}

.cube {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  /* background-color: bisque; */
  transform-style: preserve-3d;
  transform-origin: 0 0 -100px;
  transform: rotateX(-20deg) rotateY(35deg) rotateZ(0deg) translate3d(-50%, -80%, 0px); 
  animation: cubeRotate 20s linear infinite;
}

/* .cube:hover {
  animation-play-state: paused;
}

.cube:hover > div div {
  
} */

@keyframes cubeRotate {
  0% { 
    transform: rotateX(-20deg) rotateY(35deg) rotateZ(0deg) translate3d(-50%, -80%, 0px); 
  }
  25% { 
    transform: rotateX(70deg) rotateY(125deg) rotateZ(0deg) translate3d(-50%, -80%, 0px); 
  }
  50% { 
    transform: rotateX(160deg) rotateY(215deg) rotateZ(0deg) translate3d(-50%, -80%, 0px); 
  }
  75% { 
    transform: rotateX(250deg) rotateY(305deg) rotateZ(0deg) translate3d(-50%, -80%, 0px); 
  }
  100% { 
    transform: rotateX(340deg) rotateY(395deg) rotateZ(0deg) translate3d(-50%, -80%, 0px); 
  }
}

.cube > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}
  

.cube > div div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: bisque; */
  user-select: none;  /*禁止用户选中*/
  /* border: 1px solid #000; */
}

.cube > div div:nth-child(1) {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
}

.cube > div div:nth-child(2) {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) translate3d(100px, 0px, 100px);
}

.cube > div div:nth-child(3) {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) translate3d(100px, 0px, -100px);
}

.cube > div div:nth-child(4) {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, -100px, 100px);
}

.cube > div div:nth-child(5) {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, -100px, -100px);
}

.cube > div div:nth-child(6) {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, -200px);
}

.tip {
  /* font-size: 16px; */
  color: #fbfbfb;
  background-color: #2a2e31;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  padding: 10px;
  user-select: none;
  vertical-align: bottom;
}

.tip .icon {
  margin-right: 4px;  
}




.bg1 {
  background-image:   url('https://imagehost-1311720054.cos.ap-nanjing.myqcloud.com/home/1.jpg'), url('./asset/miniBg/1.jpg');
  background-size: cover;
}

.bg2 {
  background-image: url('https://imagehost-1311720054.cos.ap-nanjing.myqcloud.com/home/2.jpg'), url('./asset/miniBg/2.jpg');
  background-size: cover;
}

.bg3 {
  background-image: url('https://imagehost-1311720054.cos.ap-nanjing.myqcloud.com/home/3.jpg'), url('./asset/miniBg/3.jpg');
  background-size: cover;
}

.bg4 {
  background-image: url('https://imagehost-1311720054.cos.ap-nanjing.myqcloud.com/home/4.jpg'), url('./asset/miniBg/4.jpg');
  background-size: cover;
}

.bg5 {
  background-image: url('https://imagehost-1311720054.cos.ap-nanjing.myqcloud.com/home/5.jpg'), url('./asset/miniBg/5.jpg');
  background-size: cover;
}

.bg6 {
  background-image: url('https://imagehost-1311720054.cos.ap-nanjing.myqcloud.com/home/6.jpg'), url('./asset/miniBg/6.jpg');
  background-size: cover;
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://imagehost-1311720054.cos.ap-nanjing.myqcloud.com/home/mbg.jpg');  
  background-size: cover;
  font-size: 300px;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* z-index: -99; */
}
.about::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  left: 0;
  z-index: -9;
}

.about .footer {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  font-weight: normal;
  width: 100%;
  text-align: center;
  color: #d9eef3;
  -webkit-text-fill-color: #d9eef3;
}

.footer a {
  text-decoration: none;
  color: #d9eef3;
}

.message {
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  right: 20px;
  color: #2a2e31;
  font-size: 18px;
  font-weight: 500;
  -webkit-text-fill-color: #2a2e31;

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  backdrop-filter: blur(8px);
}

.message span {
  font-size: 16px;
  vertical-align: top;
}